.Cardwrapper{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
 
.Card{
    flex-direction: row;
    flex-wrap:  wrap;
    overflow: hidden;
    box-shadow: 0.1px  0 .4em lightgray;
    border-radius: 10px;    
    width: fit-content;
}

.Card_{
    flex-direction: row;
    flex-wrap:  wrap;
    overflow: hidden;
    border-radius: 10px;
}

.Card:hover{
    transform: scale(1.01);
}


.card-img-top{
    /* height: 100%; */
    border-radius: 10px;
} 
.imageCards{
    width: 100%;
    height: 70%
} 

.tag{
    color: black;
    text-decoration: none;
}