.container__{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 16px;
    display: flex;
}
.title__{
    display: flex;
    justify-content: center;
}

.title__Hedaer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divWrapper{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
 

img{
    width: 100%;
    height: 100%;
}
.image{
    /* height: 100%; */
}
video{
    width: 100%;
    height: 100%; 
}

.detailsContainer{
    display: flex;
    align-items: center; 
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.ttttt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infoConainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.1px  0 .4em lightgray;
    border-radius: 10px;

}